.container-main{
    display: flex;
    width: 800px;
    margin: 0 auto;
    box-shadow: 2px 2px 6px rgba(102, 102, 102, 0.25);
    border-radius: 10px;
    margin-bottom: 100px;
}

.container-main .title{
    width: 300px;
    background-color:#FD9E00;
    border-radius: 10px 0px 0px 10px;
}
.container-main .title h1{
    font-weight: 600;
font-size: 24px;
line-height: 45px;
margin: 20px;
margin-top: 10px;
}
.container-main .form-password{
    width: 500px;
    background-color:  white;
    border-radius: 0px 10px 10px 0px;
    margin: 30px;
}
.form-password p{
    margin-top: 10px;
}
.form-password .btn{
    display: flex;
    justify-content: center;
}
.form-password input{
    width: 100%;
    height: 35px;
    background-color:#F0EEF5;
    padding-left: 10px;
    font-size: 18px;
    font-weight: 500;
    margin-top: -15px;
    border: 0;
    border-radius: 5px;
}
.form-password .btn button{
    font-size: 18px;
    padding: 12px 20px;
    margin-top: 35px;
    border-radius: 10px;
    border: 0;
    margin-right: 20px;
    background-color: #F0EEF5;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}
.form-password .btn .update{
    background-color: #FD9E00;
}

.warning{
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 213, 205, 0.75);
}
.warning i{
    font-size: 34px;
}
.warning .close{
    position: absolute;
    cursor: pointer;
    top: 25%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.warning img{
    width: 150px;
}
.warning .icon-warning{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.warning h1{
    font-size: 34px;
    font-weight: bold;
}
.warning .title-warning{
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}