.row-1,.row-2{
    display: flex;
}
.container-menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-konten{
    padding-left: 10%;
    padding-right: 10%;
}
.peminjaman, .jadwal , .aturan , .status{
    position: relative;
}
.background img{
    width: 98.5%;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 4px 6px 10px 0px rgba(0, 0, 0, 0.25);
}
.jadwal .background img, .status .background img{
    float: right;
}
.row-2{
    margin-bottom: 50px;
}

.icon-1 img{
    position: absolute;
    top:20px;
    right: 30px;
    width: 40%;
}
.icon-2 img{
    position: absolute;
    bottom:40px;
    right: 30px;
    width: 40%;
}
.icon-3 img{
    position: absolute;
    top:20px;
    right: 30px;
    width: 40%;
}
.icon-4 img{
    position: absolute;
    top:20px;
    left: 30px;
    width: 43%;
}
.text-1{
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: black;
}
.text-2{
    position: absolute;
    top: 0;
    left: 30px;
    color: white;
}
.text-3{
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: white;
}
.text-4{
    position: absolute;
    bottom: 30px;
    right: 30px;
    color: black;
}
.text-white{
    color: white;
}
.text-white h1{
    margin-bottom: -25px;
    font-weight: 600;
    font-size: 2vw;
    line-height: 60px;
}
.text-white p{
    border-top: 3px solid white;
    padding-top: 10px;
    font-size: 1.5vw;
}
.text-black{
    color: black;
}
.text-black h1{
    margin-bottom: -25px;
    font-weight: 600;
    font-size: 2vw;
    line-height: 60px;
}
.text-black p{
    border-top: 3px solid black;
    padding-top: 10px;
    font-size: 1.5vw;
}
.kotak-saran{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    height: 50vh;
    background-color: #FFB31F;
    margin: 150px 0;
}

.isi-saran{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right:10%;
    padding-left: 10%;
}
.isi-saran p{
    margin-bottom: 10px;
}
.isi-saran .form-control{
    margin-top: 20px;
}
.isi-saran .form-control button{
    margin-left: 10px;
}
.isi-saran .form-control button:first-child{
    padding:15px;
    background-color: #e09a0c;
    border: none;
    color: white;
    font-weight: 400;
    font-size: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    cursor: pointer;
}
.isi-saran .form-control button:last-child{
    padding:15px;
    background-color: white;
    font-weight: 400;
    font-size: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.isi-saran .col-1{
    width: 50%;
}
.isi-saran .col-1 input{
    width: 300px;
    height: 40px;
    border: 0;
    padding: 10px;
    border-radius: 5px;
}
.isi-saran .col-2{
    width: 50%;
}
.isi-saran .col-2 textarea{
    width: 400px;
    border: 0;
    padding: 10px;
    border-radius: 5px;
}
.container-contact{
    margin-top: 50px;
    padding-right: 10%;
    padding-left: 10%;
    margin-bottom: 150px;
    display: flex;
}
.container-contact .col-1-33{
    width: 33.3%;
    align-items: center;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    border-right:3px solid #FFB31F ;
}
.container-contact .col-2-33{
    width: 33.3%;
    align-items: center;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    border-right:3px solid #FFB31F ;
}
.container-contact .col-3-33{
    width: 33.3%;
    align-items: center;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.container-contact h1{
    font-family: "Montserrat", Sans-serif;
    color: #FFB31F;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 0.1px;
}
.container-contact p{
    font-size: 14px;
    line-height: 20px;
    color: #444444;
}
.footer{
    background-color: #F88409;
    text-align: center;
    padding:20px 20px;
    color: white;
}

@-webkit-keyframes bob-on-hover {
    0% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
    50% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  @keyframes bob-on-hover {
    0% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
    50% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  @-webkit-keyframes bob-on-hover-float {
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  @keyframes bob-on-hover-float {
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  .bob-on-hover {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .bob-on-hover:hover, .bob-on-hover:focus, .bob-on-hover:active {
    -webkit-animation-name: bob-on-hover-float, bob-on-hover;
    animation-name: bob-on-hover-float, bob-on-hover;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
  }

  .warning{
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 213, 205, 0.75);
}
.warning i{
    font-size: 34px;
}
.warning .close{
    position: absolute;
    cursor: pointer;
    top: 25%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.warning img{
    width: 150px;
}
.warning .icon-warning{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.warning h1{
    font-size: 34px;
    font-weight: bold;
}
.warning .title-warning{
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}